@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,400;1,800&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

body,
section {
  width: 100vw;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  overflow-x: hidden;
}

footer {
  text-align: center;
  color: black;
  position: fixed;
  bottom: 5px;
  z-index: 1000;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
  line-height: 11px;
}

footer b {
  font-family: "Poppins", sans-serif;
}

footer a {
  text-decoration: none;
  color: #000;
  line-height: 11px;
  padding: none;
}

.home {
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.about,
.ict,
.didact,
.prof {
  background-color: white;
}

@-webkit-keyframes bgcolor {
  0% {
    background-color: #45a3e5;
  }

  30% {
    background-color: #66bf39;
  }

  60% {
    background-color: #eb670f;
  }

  90% {
    background-color: #f35;
  }

  100% {
    background-color: #864cbf;
  }
}

@keyframes bgcolor {
  0% {
    background-color: #390099;
  }

  30% {
    background-color: #9e0059;
  }

  60% {
    background-color: #ff0054;
  }

  90% {
    background-color: #ff5400;
  }

  100% {
    background-color: #ffbd00;
  }
}

#box {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#title {
  color: #000;
  font-size: 130px;
  line-height: 130px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  display: block;
  text-align: center;
}

#subtitle {
  font-size: 18px;
  line-height: 15px;
  margin-top: -10px;
  letter-spacing: 4px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  display: block;
  text-align: center;
}

.sidebar {
  width: 100vh;
  height: 40px;
  transform-origin: top left;
  position: fixed;
  left: 0;
  top: 100%;
  transform: rotate(-90deg);
  border-bottom: 1px solid black;
  text-align: right;
  z-index: 100;
}

.sideblock {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 40px;
  font-weight: 400;
  padding: 15px;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  display: inline;
}

.sideblock a {
  text-decoration: none;
  color: #000;
}

.sideblock a:hover {
  font-weight: 800;
}

blockquote {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 70px;
  width: 35%;
  color: #000;
}

blockquote p {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 400;
  top: -70px;
}

blockquote a {
  text-decoration: underline;
  color: #000;
}
