@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --back: #eaeaea;
  --light: #fdf5df;
  --main: #5ebec4;
  --accent: #f92c85;
  --accent2: #88c123;
  --text: #252a34;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--back);
  color: var(--text);
  font-family: "Space Mono", monospace;
  font-size: 10pt;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

navbar {
  width: calc(100% - 80px);
  height: 50px;
  background: var(--back);
  display: block;
  position: absolute;
  top: 12px;
  left: 90px;
}

topbar {
  position: fixed;
  background: var(--back);
  z-index: 1000;
  width: 100%;
  height: 50px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: var(--text);
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: var(--accent);
}

#menuToggle input {
  display: block;
  width: 33px;
  height: 30px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 7px;
  position: relative;
  background: #bfc0c0;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-1px, -0px);
  background: #2d3142;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  background: var(--text);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
  background: var(--text);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -30px;
  padding: 50px;
  padding-top: 110px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.typing-demo {
  width: 405px;
  animation: typing 1s steps(12), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--text);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.wrappertype {
  height: 10;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  display: inline-block;
  width: 12vw;
  color: var(--main);
  text-transform: uppercase;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  top: 0;
  left: 500px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  color: var(--text);
  position: fixed;
  bottom: 5px;
  z-index: 1000;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 10px;
  line-height: 11px;
}

footer b {
  font-family: "Montserrat", sans-serif;
}

footer a {
  text-decoration: none;
  color: var(--text);
  line-height: 11px;
  padding: none;
}

#box {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

#box img {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

blockquote {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  width: 40%;
  color: var(--text);
}

blockquote b {
  font-weight: 900;
  color: var(--accent);
}

blockquote p {
  font-family: "Space Mono", monospace;
  font-size: 14pt;
  font-weight: 400;
  top: -80px;
}

blockquote a {
  text-decoration: underline;
  color: var(--text);
}

.about,
.ict,
.didact,
.prof {
  display: flex;
  align-items: center;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.didact {
  height: auto;
}

.ict img,
.didact img,
.prof img {
  max-width: auto;
  height: 350px;
  vertical-align: middle;
}

.ict blockquote h1 {
  color: var(--accent2);
  font-weight: 900;
  font-size: 55px;
}

.didact blockquote h1 {
  color: var(--main);
  font-weight: 900;
  font-size: 55px;
}

.didact blockquote h2 {
  color: var(--text);
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: -15px;
  margin-top: 40px;
}

.prof blockquote h1 {
  color: var(--accent);
  font-weight: 900;
  font-size: 55px;
}

.prof blockquote h2 {
  color: var(--text);
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: -15px;
  margin-top: 40px;
}

#credit {
  width: 100%;
  height: 7%;
  font-size: 8pt;
  position: relative;
  bottom: 3pt;
  text-align: center;
}

#credit a {
  color: var(--text);
}

#credit h1 {
  color: var(--text);
  font-weight: 900;
  font-size: 10pt;
  font-family: Montserrat;
}
