/*	RADIO-MENU STUFF
   ∞∞ STARTS HERE ∞∞
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

main {
  width: 100%;
  height: 100%;
  color: var(--text);
  font-weight: 300;
  font-family: "Space Mono", monospace;
}

input[name="menu"] {
  display: none;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--back);
  color: var(--text);
  font-family: "Space Mono", monospace;
  font-size: 10pt;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
}

navbar {
  width: calc(100% - 200px);
  height: 50px;
  top: 40px;
  background: var(--back);
  display: block;
  position: absolute;
  line-height: 50px;
  right: 100px;
  text-align: right;
  z-index: 1000;
}

/* sections */ /* keep them off canvas */
section {
  transition: bottom 0ms linear 900ms,
    opacity 900ms cubic-bezier(0.4, 0.25, 0.3, 1);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

section:first-of-type {
  justify-content: center;
}

/* menu */ /* this goes off canvas as well */
menu {
  transition: bottom 0ms linear 1000ms,
    background-color 1000ms cubic-bezier(0.4, 0.25, 0.3, 1);
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 100%;
  left: 0;
  color: var(--text);
  background-color: var(--back);
  z-index: 999;
}

menu nav {
  transition: all 500ms cubic-bezier(0.4, 0.25, 0.3, 1) 250ms;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

menu nav label {
  line-height: 50px;
  cursor: pointer;
  z-index: 1000;
}

menu nav label:hover {
  color: var(--accent);
}

/* menu button */
label[for="menu"] {
  transition: opacity 300ms cubic-bezier(0.4, 0.25, 0.3, 1) 900ms;
  display: inline-block;
  position: fixed;
  top: 30px;
  left: 100px;
  line-height: 40px;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: lowercase;
  cursor: pointer;
  color: var(--accent2);
  z-index: 1000;
}

/* menu toggle */ /* click the label > checks the radio > toggles the menu */
#menu:checked + menu {
  transition: background-color 800ms cubic-bezier(0.4, 0.25, 0.3, 1);
  bottom: 0;
  background-color: var(--back);
}

#menu:checked + menu nav {
  transition: all 500ms cubic-bezier(0.4, 0.25, 0.3, 1) 250ms;
  height: 70%;
  bottom: 15%;
  font-size: 1.3rem;
}

/* section change */ /* click the label > check the radio > change the section */
input[name="menu"]:checked + section {
  transition: opacity 900ms cubic-bezier(0.4, 0.25, 0.3, 1);
  bottom: 0;
  opacity: 1;
}

/*	RADIO-MENU STUFF
    ∞∞ ENDS HERE ∞∞
*/

/* the rest is just content */

:root {
  --back: #eaeaea;
  --light: #fdf5df;
  --main: #5ebec4;
  --accent: #f92c85;
  --accent2: #88c123;
  --text: #252a34;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #b4b6b8;
  border-radius: 100px;
}

.typing-demo {
  width: 405px;
  animation: typing 1s steps(12), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--text);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.wrappertype {
  height: 10;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  display: inline-block;
  color: var(--main);
  text-transform: uppercase;
}

blocky {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  top: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Space Mono", monospace;
}

footer {
  text-align: center;
  color: var(--text);
  position: fixed;
  bottom: 5px;
  z-index: 1000;
  width: 100%;
  font-family: "Space Mono", monospace;
  font-size: 10px;
  line-height: 11px;
  z-index: 1000;
}

footer b {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

footer a {
  text-decoration: none;
  color: var(--text);
  line-height: 11px;
  padding: none;
}

#box {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

#box img {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

blockquote {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  width: 40%;
  color: var(--text);
}

blockquote b {
  font-weight: 900;
  color: var(--accent);
}

blockquote p {
  font-family: "Space Mono", monospace;
  font-size: 13pt;
  font-weight: 400;
  padding: 10px;
}

blockquote a {
  text-decoration: underline;
  color: var(--text);
}

blockquote h1 {
  font-weight: 900;
  font-size: 55px;
  margin-bottom: -10px;
}

.about,
.ict,
.didact,
.prof {
  display: flex;
  align-items: center;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.didact {
  height: auto;
}

.ict img,
.didact img,
.prof img {
  max-width: auto;
  height: 350px;
  vertical-align: middle;
}

.ict blockquote h1 {
  color: var(--accent2);
}

.didact blockquote h1 {
  color: var(--main);
}

.didact blockquote h2 {
  color: var(--text);
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: -15px;
  margin-top: 40px;
}

.didact p,
.prof p {
  min-height: 2vh;
  max-height: 20vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.didact p::-webkit-scrollbar,
.prof p::-webkit-scrollbar {
  width: 4px;
  left: 5px;
}

.prof blockquote h1 {
  color: var(--accent);
}

.prof blockquote h2 {
  color: var(--text);
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: -15px;
  margin-top: 40px;
}
