@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  text-align: left;
}

section {
  width: 850px;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
}

column {
  flex: 0 0 calc(100% - 20px);
  margin: auto;
  justify-content: center;
}

#title {
  left: 0;
  width: 1050px;
  display: block;
}

h1 {
  color: black;
  font-size: 68px;
  text-align: center;
  font-family: "Playfair Display", serif;
  letter-spacing: 4px;
  font-weight: 700;
  font-style: italic;
}

#changingword {
  color: #e5171c;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: normal;
}

.quote {
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  padding: 30px 15%;
  width: 890px;
  margin-top: 25%;
  margin-bottom: 25%;
  text-align: justify;
}

q {
  font-size: 85px;
  font-family: "Playfair Display", serif;
  letter-spacing: 4px;
  font-weight: 700;
  font-style: italic;
}

q:before,
q:after {
  content: "";
}

auth {
  display: inline-block;
  position: relative;
  top: -20px;
  font-size: 50px;
  letter-spacing: 2px;
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 80px;
  font-style: normal;
  background: #e5171c;
  width: 595px;
  text-align: center;
}

#progress {
  height: 3px;
  background-color: #e5171c;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1px 0px rgba(167, 162, 169, 0.3);
}
